@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

@import './modules/variables.css';
@import './modules/header.css';
@import './modules/hero.css';
@import './modules/features.css';
@import './modules/collaboration.css';
@import './modules/testimonials.css';
@import './modules/access.css';
@import './modules/footer.css';

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--primary-dark-blue-into);
  color: var(--neutral-white);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: min(100% - 3rem, 1440px);
}

/*
576px -> pantallas pequeñas (celulares)
768px -> pantallas pequeñas (tablets y ceulares)
992px -> pantallas medianas (Desktop)
1200px -> pantallas grandes (Desktops, TVs)
*/

/*
.access {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 8rem 12rem;
    
    position: relative;  
}

.access_top, .access_bottom {
    position: absolute;
    width: 100%;
    height: 50%;
}

.access_top {
    background-color: var(--primary-dark-blue-main);
    top: 0;
}

.access_bottom {
    background-color: var(--primary-dark-blue-footer);
    bottom: 0;
}

.access_form {
    background-color: var(--primary-dark-blue-main);
    box-shadow: 1.5px 0.5px 1.5px 2.5px var(--primary-dark-blue-footer);
    display: block;    
    z-index: 1;
    padding: 3rem;
    
    border-radius: .5rem;
    
}

.access_title {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    font-family: var(--font-secondary);
       
}

.access_text {
    
    width: 38rem;
    font-family: var(--font-secondary);
    text-align: center;
    line-height: 2;
    font-weight: var(--font-weight-regular);
    
}

.access_email {
    
    border-radius: 2rem;
    padding: 1rem 1rem;
    width: 20rem;
    margin-top: 1.5rem;
    margin-right: .5rem;
    margin-left: 1%;
}

.access_button {
    
    border-radius: 2rem;
    padding: 1rem 1rem;
    margin-left: 1rem;
    width: 12rem;
    border: none;
    color: var(--neutral-white);
    background: 
        linear-gradient(90deg, var(--accent-cyan-gradient) 0%, 
        var(--accent-blue-gradient) 35%);
 
}

footer {
    background-color: var(--primary-dark-blue-footer);
    font-family: var(--font-secondary);
}

.footer_logo {
    width: 200px;
    height: auto;
    padding-left: 4rem;
    margin-bottom: 1.5rem;
    
}

.footerRow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
    padding: .5rem 4rem 5rem 4rem;
        
}

.footer_desc {
    padding-top: .5rem;
    margin-right: 5.3rem;
    line-height: 1.5rem;
}

.footer_desc p {
    padding-left: 1.5rem;
    margin-top: -2rem;
    
}

.footer_inf {
    flex: 1;
    margin-left: .5rem;
    
}

.footer_inf p {
    padding-left: 3rem;
    margin-top: -3rem;
    text-align: left;
    line-height: 4;
    
}

.footer_inf img {
    padding-right: .5rem;
    padding-top: 1rem;
}

.footer_dat {
    line-height: 3;
    padding-top: 0;
}

.footer_red img {
    
    image-resolution: .5px;
    border: 2.5px solid;
    border-radius: 50%;
    padding: .8rem;
    margin-right: 2rem;
    
}
*/
  
