@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: hsl(235, 18%, 26%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px; 
}

main {
    display: flex;
    width: 560px;
}

.content {
    background-color: hsl(0, 0%, 100%);
    width: 540px;
    height: 390px;
    padding: 28px;
    border-radius: 14px 14px 14px 14px;
}

.photo {
    background-image: url(assets/images/illustration-sign-up-desktop.svg);
    background-repeat: no-repeat;
    width: 400px;
    background-size: cover;
    border-radius: 14px 14px 14px 14px;
}

.content div {
    display: flex;
    gap: 14px;
}

.imag-list {
    list-style: none;
    padding: 0;
}

.imag-list li {
    background-image: url(assets/images/icon-list.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
    margin-bottom: 10px;
    
}