@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@700&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "poppins", sans-serif;
  gap: 25px;
  text-decoration: none;
  padding-top: 29px;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header__span {
  color: #3795BD;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .header__span {
    order: 2;
    margin-bottom: 1rem;
  }
}

.header__ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
@media (max-width: 768px) {
  .header__ul {
    flex-direction: column;
    align-items: flex-start;
    order: 1;
  }
}

.header__nav {
  padding: 10px;
  font-size: 18px;
}
@media (max-width: 768px) {
  .header__nav {
    padding: 0;
    order: 3;
  }
}

.header__link {
  color: #2F58CD;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .header__link {
    width: auto;
    margin-bottom: 0.5rem;
  }
}

.header__link, .header__link2 {
  text-transform: capitalize;
}

.svgs {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .svgs {
    justify-content: flex-start;
    order: 4;
  }
}

@media (max-width: 768px) {
  .div__theme, .div__github, .div__linkedin {
    margin-top: 1rem;
    order: 5;
  }
}

.div__linkedin {
  padding-right: 32px;
}
@media (max-width: 768px) {
  .div__linkedin {
    padding-right: 0;
  }
}

.hero {
  font-family: "poppins", sans-serif;
  justify-content: center;
  text-align: center;
  padding-top: 94px;
}

.hero__name {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero__name-sub {
  text-decoration: underline;
  color: #2F58CD;
}

.hero__profession {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero__text {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.hero__image {
  border-radius: 50%;
  width: 25%;
  height: auto;
  margin-bottom: 6.5rem;
}

.hero__itext {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.hero__icon, .hero__itext {
  display: flex;
  justify-content: center;
}

.hero__icon svg, .hero__itext-inf {
  width: 112px;
  height: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #3A1078;
  color: #FFFFFF;
}

.features {
  font-family: "poppins", sans-serif;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .features {
    align-items: center;
  }
}

.feature {
  padding-left: 93px;
  padding-top: 298px;
}
@media (max-width: 768px) {
  .feature {
    padding-left: 0;
    padding-top: 0;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.feature__title {
  background-color: #4E31AA;
  color: #3795BD;
  display: flex;
  width: 180px;
  height: 42px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .feature__title {
    margin-bottom: 0.5rem;
  }
}

.feature__title2 {
  display: flex;
  width: 473px;
  height: 59px;
  flex-direction: column;
  font-size: 2rem;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
  letter-spacing: 0.25rem;
}
@media (max-width: 768px) {
  .feature__title2 {
    width: 100%;
    margin-bottom: 4rem;
  }
}

.feature__text {
  display: flex;
  width: 473px;
  height: 59px;
  flex-direction: column;
  font-size: 16px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .feature__text {
    width: 100%;
    margin-bottom: 4rem;
  }
}

.feature__text2 {
  display: flex;
  font-size: 16px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .feature__text2 {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}

.feature__span {
  text-decoration: underline;
  color: #2F58CD;
  margin-left: 5px;
  margin-right: 5px;
}
@media (max-width: 768px) {
  .feature__span {
    margin-left: 2px;
    margin-right: 2.5px;
    height: 25px;
  }
}

.nivel {
  margin-bottom: 40px;
}

.nivel svg {
  width: 80px;
  height: 80px;
}

/*# sourceMappingURL=styles.css.map */
