@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;600;700&display=swap');
// FONTS
$font-primary: 'poppins', sans-serif;
$font-size: 16px;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$primary-dark-blue1: #3A1078;
$primary-dark-blue2: #4E31AA;
$primary-light-blue1: #3795BD;
$primary-light-blue2: #2F58CD;
$primary-dark-white: #FFFFFF;