@import 'variable';
@import 'header';
@import 'hero';

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: $font-size;
}

body {
  background-color: $primary-dark-blue1;
  color: $primary-dark-white;
}

// .features {
//     font-family: $font-primary;
//     display: inline-flex;
//     flex-direction: column;
// }

// .feature {
//     padding-left: 93px;
//     padding-top: 298px;
    
// }

// .feature__title {
//     background-color: $primary-dark-blue2;
//     color: $primary-light-blue1;
//     display: flex;
//     width: 180px;
//     height: 42px;
//     border-radius: 50px;
//     justify-content: center;
//     align-items: center;    
//     margin-bottom: 10px;
//     // font-size: 24px;
//     font-weight: $font-weight-semibold;
// }

// .feature__title2 {
//     display: flex;
//     width: 473px;
//     height: 59px;
//     flex-direction: column;
//     font-size: 2rem;
//     font-family: $font-secondary;
//     font-weight: $font-weight-bold;
//     margin-bottom: 40px;
//     letter-spacing: .25rem;

// }

// .feature__text {
//     display: flex;
//     width: 473px;
//     height: 59px;
//     flex-direction: column;
//     font-size: $font-size;
//     font-family: $font-primary;
//     font-weight: $font-weight-regular;
//     margin-bottom: 60px;
// }

// .feature__text2 {
//     display: flex;
//     font-size: $font-size;
//     font-family: $font-primary;
//     font-weight: $font-weight-regular;
// }

// .feature__span {
//     text-decoration: underline;
//     color: $primary-light-blue2;
//     margin-left: 5px;
//     margin-right: 5px;
// }

.features {
    font-family: $font-primary;
    display: flex;
    flex-direction: column;
    
    @media (max-width: 768px) {
      align-items: center;
    }
  }
  
  .feature {
    padding-left: 93px;
    padding-top: 298px;
    
    @media (max-width: 768px) {
      padding-left: 0;
      padding-top: 0;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
  
  .feature__title {
    background-color: $primary-dark-blue2;
    color: $primary-light-blue1;
    display: flex;
    width: 180px;
    height: 42px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;    
    margin-bottom: 10px;
    // font-size: 24px;
    font-weight: $font-weight-semibold;
    
    @media (max-width: 768px) {
      margin-bottom: 0.5rem;
    }
  }
  
  .feature__title2 {
    display: flex;
    width: 473px;
    height: 59px;
    flex-direction: column;
    font-size: 2rem;
    font-family: $font-secondary;
    font-weight: $font-weight-bold;
    margin-bottom: 40px;
    letter-spacing: .25rem;
    
    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 4rem;
    }
  }
  
  .feature__text {
    display: flex;
    width: 473px;
    height: 59px;
    flex-direction: column;
    font-size: $font-size;
    font-family: $font-primary;
    font-weight: $font-weight-regular;
    margin-bottom: 60px;
    
    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 4rem;
    }
  }
  
  .feature__text2 {
    display: flex;
    font-size: $font-size;
    font-family: $font-primary;
    font-weight: $font-weight-regular;
    
    @media (max-width: 768px) {
      width: 100%;
      justify-content: center;
      text-align: center;
    }
  }
  
  .feature__span {
    text-decoration: underline;
    color: $primary-light-blue2;
    margin-left: 5px;
    margin-right: 5px;

    @media (max-width: 768px) {
        margin-left: 2px;
        margin-right: 2.5px;
        height: 25px;
    }
  }

//   .features, .piramide {
//     display: inline-block;
//   }

  .nivel {
    margin-bottom: 40px;
  }

  .nivel svg {
    width: 80px;
    height: 80px;
  }

  .wrapper {
    width: min(100% - 3rem, 1440px);
    margin: 0 auto;
  }

  .piramide {
    display: grid;
    grid-template-columns: repeat(6, 5rem);
    grid-template-rows: repeat(4, 5rem);
    justify-content: end;

    grid-template-areas: 
    ". . s1 . . ."
    ". . s2 s3 . ."
    ". s4 s5 s6 s7 ."
    "s8 s9 s10 s11 s12 s13";

    gap: .5rem;
    padding: 24px;
    position: relative;


  }